@charset "UTF-8";
@import "../font/Museo/stylesheet.css";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.button {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  width: 300px;
  height: 50px;
  background-color: #C70101;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.form__input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 18px;
}
.form__input::-webkit-input-placeholder {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}
.form__input::-moz-placeholder {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}
.form__input:-ms-input-placeholder {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}
.form__input::-ms-input-placeholder {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}
.form__input::placeholder {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}

.header {
  margin-top: 15px;
  height: 58px;
  position: absolute;
  width: 100%;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 251px;
  height: 45px;
}
.header__off {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 7px;
}
.header__garmin {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__tel {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}
.header__btn {
  background-color: #C70101;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

.first-screen {
  padding: 166px 0 77px;
  height: 100vh;
  background: url("../image/first-screen/bg.png") center/cover no-repeat;
}
.first-screen__title {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 42px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.first-screen__subtitle {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.first-screen__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  margin-bottom: 66px;
}
.first-screen__info-item {
  text-align: center;
}
.first-screen__info-icon {
  margin-bottom: 20px;
}
.first-screen__info-text {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.first-screen__go {
  margin-top: 18px;
  text-align: right;
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.first-screen__link {
  margin-left: 4px;
  color: white;
}

.advantages {
  padding: 60px 0 75px;
}
.advantages__title {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  margin-bottom: 60px;
  text-align: center;
}
.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.advantages__item {
  text-align: center;
}
.advantages__item-icon {
  margin-bottom: 32px;
}
.advantages__item-title {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
}
.advantages__item-text {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}
.advantages__item-link {
  color: red;
}

.consultation {
  padding: 100px 0 92px;
  background: url("../image/consultation/bg2.svg") center/cover no-repeat;
}
.consultation__title {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 70px;
}
.consultation__subtitle {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 36px;
}
.consultation__btn {
  margin: 5px 0 0 0;
}

.carousel {
  padding: 81px 0 73px;
}
.carousel .owl-carousel {
  position: relative;
}
.carousel .owl-carousel .owl-item img {
  width: 750px;
  margin: 0 auto;
}
.carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 50px;
  background: url("../image/carousel/chevron-left-solid.png");
}
.carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 50px;
  background: url("../image/carousel/chevron-right-solid.png");
}

.catalog__content {
  display: none;
  /* по умолчанию прячем все блоки */
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.catalog__title {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #0D0D0D;
  text-align: center;
  margin-bottom: 60px;
}
.catalog__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 60px;
}
.catalog__list {
  width: 220px;
  height: 50px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #D0D0D0;
}
.catalog__list-text {
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #6B6B6B;
}
.catalog__list_active {
  background: #C70101;
  border: transparent;
}
.catalog__list_active .catalog__list-text {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.catalog__card {
  padding: 20px;
  border: 2px solid #E8E8E8;
  width: calc(33.3% - 13.33px);
  overflow: hidden;
}
.catalog__card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.catalog__card-top_active {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.catalog__card-front {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 18px;
  padding-right: 20px;
}
.catalog__card-img {
  margin-bottom: 17px;
}
.catalog__card-title {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #0d0d0d;
  margin-bottom: 16px;
}
.catalog__card-descr {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #0d0d0d;
  text-align: center;
  margin-bottom: 17px;
}
.catalog__card-more {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #C70101;
}
.catalog__card-bottom {
  border-top: 1px solid #707070;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog__card-btn {
  width: 130px;
  height: 40px;
  background-color: #C70101;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.catalog__card-oldPrice {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
  text-decoration: line-through;
}
.catalog__card-newPrice {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #050505;
}
.catalog__card-back {
  width: 50%;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 19px;
}
.catalog__card-prev {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #C70101;
}
.catalog__card-menu {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  list-style-type: square;
  color: #C70101;
}
.catalog__card-list-text {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
}

.footer {
  padding-top: 100px;
}

.overlay {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #00000090;
  position: fixed;
  top: 0;
  left: 0;
}
.overlay__btn {
  margin: 0 auto;
}
.overlay__close {
  cursor: pointer;
  position: absolute;
  right: -41px;
  top: 0;
}
.overlay__popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 35px 0 40px;
  width: 420px;
  background-color: #F2F2F2;
  text-align: center;
}
.overlay__consult, .overlay__buy, .overlay__thanks, .overlay__buy-thanks {
  display: none;
}
.overlay__title {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: #0D0D0D;
  margin-bottom: 10px;
}
.overlay__subtitle {
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #0D0D0D;
  margin-bottom: 24px;
}