.button{
  @include text($Museo, 500, 16px, #ffffff);
  text-transform: uppercase;
  width: 300px;
  height: 50px;
  background-color: #C70101;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
}