.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  &__input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 18px;

    &::placeholder {
      @include text($Museo, 300, 14px, #4B4B4B);
    }
  }

}