.header{
  margin-top: 15px;
  height: 58px;
  position: absolute;
  width: 100%;
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    width:251px;
    height: 45px;
  }
  &__center{

  }
  &__off{
    @include text($Museo, 500, 12px, #ffffff);
    text-align: center;
    margin-bottom: 7px;
  }
  &__garmin{
    @include text($Museo, 700, 18px, #ffffff);
  }

  &__right{
display: flex;
    flex-direction: column;
    row-gap: 7px;
    align-items: flex-end;
  }
  &__tel{
    @include text($Museo, 700, 18px, #ffffff);
    text-decoration: none;
  }
  &__btn{
background-color: #C70101;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    @include text($Museo, 500, 12px, #ffffff);
    outline: none;
    cursor: pointer;
  }


}