.overlay{
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #00000090;
  position: fixed;
  top: 0;
  left: 0;
  &__btn{
    margin: 0 auto;
  }
  &__close{
    cursor: pointer;
    position: absolute;
    right: -41px;
    top: 0;
  }
  &__popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 35px 0 40px;
    width: 420px;
    background-color: #F2F2F2;
    text-align: center;

  }
  &__consult, &__buy, &__thanks, &__buy-thanks{
    display: none;
  }

  &__title{
    @include text($Museo, 700, 19px, #0D0D0D);
    margin-bottom: 10px;
  }
  &__subtitle{
    @include text($Museo, 500, 14px, #0D0D0D);
    margin-bottom: 24px;
  }
}